page-login {
  // ion-content {
  //   .fixed-content,
  //   .scroll-content {
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //     justify-content: center;
  //   }
  // }

  // .logo {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   margin-bottom: 20px;
  //   height: auto;
  //   width: 100%;

  //   img {
  //     height: auto;
  //     width: 75%;
  //   }
  // }

  // .login-form {
  //   display: flex;
  //   flex-direction: column;
  //   width: 80%;

  //   .action-buttons {
  //     margin-top: 20px;
  //     display: flex;
  //     flex-direction: column;
  //   }
  // }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $primary-1;
    height: 100vh;
    width: 100vw;
    position: relative;

    .inner-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;

      @media screen and (min-width: '720px') {
        width: 720px;
        min-width: 720px;
        max-width: 720px;
        margin: auto;
      }
    }
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;

    img {
      width: 50%;
    }
  }

  .login-form {
    display: flex;
    flex-direction: column;
    width: 80%;

    .action-buttons {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
    }
  }
}
