page-forgot-password {
    .section {
        background: $section-bg-color !important;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 15px;

        margin-bottom: 25px;
        height: 100%;
    }
}
