page-forgot-password {

    ion-label {
        font-size: 20px;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .section {
        background: $section-bg-color !important;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 15px;

        margin-bottom: 25px;
        height: 100%;
    }
}
