page-event-detail {
    @media screen and (min-width: '720px') {
        .image-slider-container {
          height: 350px !important;
        }
      }

      .image-slider-container {
        height: 250px;
        // background-color: $section-bg-color;
      }

      #map {
        margin-bottom: 10px;
        margin-top: 10px;
        height: 200px;
    }

    .event-details-container{
      span{
        display:block;
        text-align:center
      }

      .event-name{
        font-size: 18px;
        font-weight: 700;
      }
    }

}
