page-edit-profile {
  .button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

    button {
      width: 100%;
    }
  }

  .list-container {
    background-color: $section-bg-color;
    margin-bottom: $section-spacer;
  }
}
