<!--
  Generated template for the EditProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Edit Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-bounce has-bouncing="false"  no-padding>
  <loading *ngIf="!user"></loading>

  <ng-container *ngIf="user">
    <div class="list-container" padding>
      <ion-list>
        <ion-list-header>The Matchmaking Essentials</ion-list-header>
        <ion-item>
          <ion-label stacked>Username</ion-label>
          <ion-input [(ngModel)]="user.username" name="userName" type="text" placeholder="Username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Height</ion-label>
          <ion-select [(ngModel)]="user.height" name="height" placeholder="Height">
            <ion-option></ion-option>
            <ion-option *ngFor="let height of heightOptions" [value]="height">{{ height }}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label stacked>Relationship Status</ion-label>
          <ion-select [(ngModel)]="user.relationshipStatus" name="relationshipStatus" placeholder="Relationship Status">
            <ion-option></ion-option>
            <ion-option *ngFor="let relationshipStatus of relationshipStatusOptions" [value]="relationshipStatus">{{ relationshipStatus }}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label stacked>Gender</ion-label>
          <ion-select [(ngModel)]="user.gender" name="gender" placeholder="Gender">
            <ion-option *ngFor="let gender of genderOptions" [value]="gender">{{ gender }}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label stacked>What are you looking for?</ion-label>
          <ion-select multiple="true" [(ngModel)]="user.preferences.intentions" name="preferenceIntention" placeholder="Your intentions">
            <ion-option *ngFor="let intention of intentionOptions" [value]="intention">{{ intention }}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label stacked>Birthdate</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" max="{{ maxDate }}" [(ngModel)]="user.birthdate"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label stacked>City</ion-label>
          <ion-input [(ngModel)]="user.city" name="city" type="text" placeholder="City"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>State</ion-label>
          <ion-input [(ngModel)]="user.state" name="state" type="text" placeholder="State"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Country</ion-label>
          <ion-input [(ngModel)]="user.country" name="country" type="text" placeholder="Country"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Occupation</ion-label>
          <ion-input [(ngModel)]="user.occupation" name="occupation" type="text" placeholder="Occupation"></ion-input>
        </ion-item>
      </ion-list>
    </div>

    <div class="list-container" padding>
      <ion-list>
        <!-- <ion-list-header>Your Preferences</ion-list-header> -->
        <ion-item>
          <ion-label stacked>Diet</ion-label>
          <ion-select [(ngModel)]="user.preferences.diet" name="preferenceDiet" placeholder="Select">
            <ion-option></ion-option>
            <ion-option *ngFor="let diet of dietOptions" [value]="diet">{{ diet }}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label stacked>Religion</ion-label>
          <ion-select [(ngModel)]="user.preferences.religion" name="preferenceReligion" placeholder="Select">
            <ion-option></ion-option>
            <ion-option *ngFor="let religion of religionOptions" [value]="religion">{{ religion }}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label stacked>Alcohol</ion-label>
          <ion-select [(ngModel)]="user.preferences.alcohol" name="preferenceAlcohol" placeholder="Select">
            <ion-option></ion-option>
            <ion-option *ngFor="let alcohol of alcoholOptions" [value]="alcohol">{{ alcohol }}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label stacked>Smoke</ion-label>
          <ion-select [(ngModel)]="user.preferences.cigarette" name="preferenceCigarette" placeholder="Select">
            <ion-option></ion-option>
            <ion-option *ngFor="let cigarette of cigaretteOptions" [value]="cigarette">{{ cigarette }}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label stacked>Drugs</ion-label>
          <ion-select [(ngModel)]="user.preferences.drug" name="preferenceDrug" placeholder="Select">
            <ion-option></ion-option>
            <ion-option *ngFor="let drug of drugOptions" [value]="drug">{{ drug }}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label stacked>Children</ion-label>
          <ion-select [(ngModel)]="user.preferences.children" name="preferenceChildren" placeholder="Select">
            <ion-option></ion-option>
            <ion-option *ngFor="let children of childrenOptions" [value]="children">{{ children }}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label stacked>Education</ion-label>
          <ion-select [(ngModel)]="user.preferences.education" name="preferenceEducation" placeholder="Select">
            <ion-option></ion-option>
            <ion-option *ngFor="let education of educationOptions" [value]="education">{{ education }}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label stacked>About Yourself</ion-label>
          <ion-textarea [(ngModel)]="user.aboutMe" rows="5" placeholder="Describe yourself"></ion-textarea>
        </ion-item>

        <div class="button-container" padding>
          <button [disabled]="isUpdating" (click)="submitForm()" ion-button round>{{ isUpdating ? 'Updating...': 'Update profile' }}</button>
        </div>
      </ion-list>
    </div>
  </ng-container>

  <footer></footer>
</ion-content>
