<!--
  Generated template for the SwipeToLikePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Swipe to Like</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="card-stack">
    <div swing-stack #myswing1 [stackConfig]="stackConfig" *ngFor="let pontentialMatch of potentialMatches" (throwoutleft)="voteUp(false, pontentialMatch)"
      (throwoutright)="voteUp(true, pontentialMatch)" class="card-container">
      <div #mycards1 swing-card class="card" (click)="navigateToProfile(pontentialMatch)">
        <div class="overlay" [ngStyle]="{'background-color': backgroundColor}"></div>
        <img class="image" [src]="pontentialMatch?.profilePictureUrl || defaultUserImage">
        <div class="user-details">
          <span class="name">
            {{ pontentialMatch?.firstName }} {{ pontentialMatch?.lastName }}
          </span>
          <span class="age" *ngIf="pontentialMatch.birthdate">
            , {{ calculateAge(pontentialMatch?.birthdate)}}
          </span>
        </div>
      </div>
    </div>

    <div class="empty" *ngIf="potentialMatches && potentialMatches.length <= 0">
      Sorry! That's all of your potential matches. Come back later to see if there are more.
    </div>

  </div>
  <div class="action-buttons" *ngIf="potentialMatches && potentialMatches.length > 0">
    <ion-fab>
      <button ion-fab color="primary" (click)="voteUp(false, potentialMatches[potentialMatches.length - 1])"><ion-icon name="close"></ion-icon></button>
    </ion-fab>
    <ion-fab>
      <button ion-fab color="primary" (click)="navigateToProfile(potentialMatches[potentialMatches.length - 1])"><ion-icon name="contact"></ion-icon></button>
    </ion-fab>
    <ion-fab>
      <button ion-fab color="primary" (click)="voteUp(true, potentialMatches[potentialMatches.length - 1])"><ion-icon name="checkmark"></ion-icon></button>
    </ion-fab>
  </div>
</ion-content>