<!--
  Generated template for the RestaurantsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Nearby Restaurants</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-bounce has-bouncing="false" no-padding>
  <loading *ngIf="isFetching"></loading>

  <ion-item *ngFor="let restaurant of restaurants" (click)='openRestaurant(restaurant)'>
    <ion-thumbnail item-start>
      <img *ngIf="restaurant.image_url != null" src="{{restaurant.image_url}}">
      <img *ngIf="restaurant.image_url == null" src="assets/imgs/image_placeholder.png">
    </ion-thumbnail>
    <h2>{{restaurant.name}}</h2>
    <p>{{restaurant.description}}</p>

    <div item-end>
      <p>{{restaurant.distance | number:'1.2-2'}} km</p>
    </div>
  </ion-item>

  <footer></footer>
</ion-content>
