page-profile {
  .user-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: $section-spacer;

    .user-image {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        object-fit: cover;
        width: 100%;
        height: 250px;
      }
    }

    .user-details {
      display: flex;
      flex-direction: column;
      width: 100%;

      .user-name-and-age {
        display: flex;
        font-size: 1.4em;
        font-weight: bold;
      }

      .user-location {
        padding-top: 10px;
        font-size: 1.2em;
      }
    }
  }

  .edit-actions-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: $section-spacer 0;

    .edit-button {
      text-align: center;
      color: black;

      ion-icon {
        margin-right: 8px;
      }
    }
  }
}
