page-profile {
  .user-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: $section-spacer;

    @media screen and (min-width: '720px') {
      .image-slider-container {
        height: 350px !important;
      }
    }

    .image-slider-container {
      height: 250px;
      background-color: $section-bg-color;
    }

    .user-image {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        object-fit: cover;
        width: 100%;
        height: 250px;
      }
    }

    .user-details {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: $section-bg-color;

      .user-name-and-age {
        display: flex;
        font-size: 1.4em;
        font-weight: bold;
      }

      .user-location {
        padding-top: 10px;
        font-size: 1.2em;
      }
    }
  }

  .edit-actions-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: $section-spacer 0;
    background: $section-bg-color;

    .edit-button {
      text-align: center;
      color: black;

      ion-icon {
        margin-right: 8px;
      }
    }
  }

  .occupation {
    font-size: 1.7rem;
  }

  .occupation,
  ion-note {
    color: #8e9093 !important;
  }
}
