page-profile {
  .user-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: $section-spacer;

    @media screen and (min-width: '720px') {
      .image-slider-container {
        height: 350px !important;
      }
    }

    .image-slider-container {
      height: 250px;
      background-color: $section-bg-color;
    }

    .user-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      img {
        object-fit: cover;
        width: 100%;
        height: 250px;
      }
    }

    .user-details {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: $section-bg-color;
      border-top: $border-style;

      .user-name-and-age {
        display: flex;
        font-size: 1.5em;
        font-weight: bold;
      }

      .user-relationship-status {
        display: flex;
        font-size: 1.15em;
      }

      .user-occupation {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        font-size: 1.1em;
      }

      .user-location {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
        font-size: 1.1em;
      }
    }
  }

  .actions-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: $section-spacer 0;
    background: $section-bg-color;

    .action-button {
      text-align: center;
      color: black;

      ion-icon {
        margin-right: 8px;
      }
    }
  }

  .copyright-text {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .occupation {
    font-size: 1.7rem;
  }

  .occupation,
  ion-note {
    color: #8e9093 !important;
  }

  .intentions-container {
    background-color: $section-bg-color;
    padding: 16px;
    margin-bottom: $section-spacer;

    .intentions-label {
      font-size: 1.7rem;
      margin-bottom: 8px;
    }

    ion-chip {
      margin-right: 4px;
    }
  }
}
