page-home {
  .menu-container {
    display: flex;
    flex-direction: column;
    margin: 16px 0;

    .menu-row {
      display: flex;
      flex-direction: row;
      margin-bottom: 15px;
    }

    .menu-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 1.1em;

      ion-icon {
        padding-bottom: 10px;
        font-size: 20vw
      }
    }
  }

  .prospect-dates-header {
    border-top: $border-style;
    font-size: 1.1em;
    padding: 8px 16px;
  }

  .prospect-dates-container {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    position: relative;
    overflow: auto;

    display: flex;
    flex-wrap: nowrap;

    .prospect-dates {
      display: flex;
      flex-direction: row;

      .image-container {
        flex: 0 0 auto;
        width: 30vw;
        height: auto;
        padding-right: 4px;

        .image {
          height: auto;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
