<ion-header>
  <ion-navbar color="primary">
    <ion-title align-title="left">
      Black Vegan Meet
    </ion-title>
    <ion-buttons end>
      <button (click)="navigateTo('SettingsPage')" ion-button icon-only>
        <ion-icon name="md-settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce has-bouncing="false" >
  <div class="menu-container">
    <div class="menu-row">
      <div class="menu-item col-4" (click)="navigateToSearchPage()">
        <div class="menu-icon">
          <img [src]="icons.Search" alt="icon">
        </div>
        <span>Search</span>
      </div>
      <div class="menu-item col-4" (click)="navigateTo('ConversationListPage')">
        <div class="menu-icon">
          <img [src]="icons.Messages" alt="icon">
        </div>
        <span>Messages</span>
        <div class="badge-container">
          <ion-badge *ngIf="notifications?.messages" color="danger">
            {{ (notifications.messages.length > 9) ? '9+' : notifications.messages.length }}
          </ion-badge>
        </div>
      </div>
      <div class="menu-item col-4" (click)="navigateTo('ViewedMePage')">
        <div class="menu-icon">
          <img [src]="icons.ViewedMe" alt="icon">
        </div>
        <span>Viewed Me</span>
        <div class="badge-container">
          <ion-badge *ngIf="notifications?.viewedMe" color="danger">!</ion-badge>
        </div>
      </div>
    </div>

    <div class="menu-row">
      <div class="menu-item col-4" (click)="navigateTo('ProfilePage')">
        <div class="menu-icon">
          <img [src]="icons.MyProfile" alt="icon">
        </div>
        <span>My Profile</span>
      </div>
      <div class="menu-item col-4" (click)="navigateTo('EventsPage')">
        <div class="menu-icon">
          <img [src]="icons.Events" alt="icon">
        </div>
        <span>Events</span>
      </div>
      <div class="menu-item col-4" (click)="navigateTo('RestaurantsPage')">
        <div class="menu-icon">
          <img [src]="icons.Restaurants" alt="icon">
        </div>
        <span>Restaurants</span>
      </div>
    </div>

    <div class="menu-row">
      <div class="menu-item col-4" (click)="navigateTo('GroceryStoresPage')">
        <div class="menu-icon">
          <img [src]="icons.GroceryStores" alt="icon">
        </div>
        <span>Grocery Stores</span>
      </div>
      <div class="menu-item col-4" (click)="navigateTo('SwipeToLikePage')">
        <div class="menu-icon">
          <img [src]="icons.Swipe" alt="icon">
        </div>
        <span>Swipe to Like</span>
      </div>
      <div class="menu-item col-4" (click)="navigateTo('AdviceCornerPage')">
        <div class="menu-icon">
          <img [src]="icons.AdviceCorner" alt="icon">
        </div>
        <span>Advice Corner</span>
      </div>
    </div>
  </div>

  <div *ngIf="!user?.geolocation && !isLoading" class="no-address-info-container">
    <span>Add an address to your profile to see prospect dates!</span>
    <button (click)="navigateTo('EditProfilePage')" ion-button round full>Edit Profile</button>
  </div>

  <ng-container *ngIf="user?.geolocation && !isLoading">
    <div class="prospect-dates-header">
      Prospect Dates
    </div>

    <div class="prospect-dates-container">
      <div class="prospect-dates" *ngIf="prospectDates.length > 0">
        <div *ngFor="let prospectDate of prospectDates" (click)="navigateToProfile(prospectDate)" class="image-container col-4">
          <img class="image" [src]="prospectDate?.profilePictureUrl || defaultUserImage">
        </div>
      </div>

      <div *ngIf="prospectDates.length === 0" class="no-prospect-dates-info-container">
        <span padding>Seems like there are no BVM users within 100 miles from you.</span>
      </div>
    </div>
  </ng-container>

  <footer></footer>
</ion-content>
