page-home {
  .fixed-content,
  .scroll-content {
    background: $section-bg-color !important;
  }

  .menu-container {
    display: flex;
    flex-direction: column;
    margin-bottom: $section-spacer;
    background-color: $section-bg-color;

    .menu-row {
      display: flex;
      flex-direction: row;
      margin: 15px 0;
    }

    .menu-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 1.1em;

      .menu-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 60px;
          height: 60px;
        }
      }
    }
  }

  .prospect-dates-header {
    border-top: $border-style;
    font-size: 1.1em;
    padding: 8px 16px;
    background-color: $section-bg-color;
  }

  .prospect-dates-container {
    display: flex;
    flex-direction: column;
    padding: 0 16px 16px;
    position: relative;
    overflow: auto;
    overflow-y: hidden;
    background-color: $section-bg-color;

    display: flex;
    flex-wrap: nowrap;

    .prospect-dates {
      display: flex;
      flex-direction: row;
      position: relative;

      .image-container {
        flex: 0 0 auto;
        width: 30%;
        margin-right: 4px;
        position: relative;

        &:before {
          content: '';
          display: block;
          padding-top: 100%;
        }

        overflow: hidden;
        span {
          position: absolute;
          z-index: 1;
          color: red;
          font-size: 2rem;
          top: 0;
        }

        .image {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
