page-settings {
  .user-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    margin-bottom: $section-spacer;
    background-color: $section-bg-color;

    .user-image {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        object-fit: cover;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border: 8px solid $primary-0;
      }
    }

    .user-name {
      display: flex;
      text-align: center;
      font-size: 1.4em;
      margin-top: 15px;
    }
  }
}
