// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@for $i from 1 through 12 {
  .col-#{$i} {
    width: 100% / (12 / $i);
  }
}

// For ng-lazyload-image
html,
body {
  overflow-x: hidden;
}

.fixed-content,
.scroll-content {
  background: $primary-1;
}

.scroll-content {
  @media screen and (min-width: '720px') {
    width: 720px;
    min-width: 720px;
    max-width: 720px;
    margin: auto;
  }
}

All except select options triangle
*:not(.select-icon-inner) {
  border-color: $primary-1 !important;
}

// Dragula
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';
  filter: alpha(opacity=80);

  // Hide close button in edit photos for removing images
  .close-button {
    display: none !important;
  }
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=20)';
  filter: alpha(opacity=20);
}
