<!--
  Generated template for the ViewedMePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Viewed Me</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-bounce has-bouncing="false"  no-padding>
  <loading *ngIf="isFetching"></loading>

  <div class="info-container" *ngIf="!isFetching && users.length === 0">
      <h3 style="text-align: center; padding: 0 20px;">Seems like no one has viewed you yet.</h3>
  </div>

  <div class="users-container" *ngIf="!isFetching && users.length > 0" padding>
    <div class="user" *ngFor="let user of users" (click)="navigateToProfile(user)">
      <div class="image-container">
        <img [src]="user?.profilePictureUrl || defaultUserImage">
      </div>
      <div class="details-container">
        <p class="name">{{ user?.firstName }} {{ user?.lastName }}</p>
        <p class="last-viewed">{{ fromNow(user?.lastViewed) }}</p>
      </div>
      <div class="chevron-container">
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </div>
    </div>
  </div>

  <ion-infinite-scroll (ionInfinite)="fetchViewedMeUsers($event, true)">
    <ion-infinite-scroll-content loadingSpinner="circles" loadingText="Fetching more..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
