footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: flex-end;
  margin: 50px 0;
  font-size: 12px;

  p {
    margin: 0;
  }

  .copyright-text {
    width: 100%;
    text-align: center;
  }
}
