page-grocery-store-modal {
  .section {
    background: $section-bg-color !important;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 15px;

    margin-bottom: 25px;
  }


  #details #map {
    margin-top: 25px;
  }

  @media screen and (min-width: '720px') {
    .image-slider-container {
      height: 350px !important;
    }
  }

  .image-slider-container {
    height: 200px;
    background-color: $section-bg-color;

    img {
      object-fit: cover;
      width: 100%;
      height: 200px;
    }
  }

  .details-container {
    padding-top: 15px;
    margin-top: 25px;
    
    ion-label {
      font-size: 20px;
      font-weight: bold;
      color: #686868;
    }

    p {
      font-size: 14px;
    }

    img {
      object-fit: cover;
      width: 100%;
    }
  }

  .scroll-content {
    padding-bottom: 25px;
  }

  form p {
      font-size: 0.8em;
      color: #d2d2d2;
  }

  .swiper-slide {
      display: block;
  }

  ion-label, .select-text {
      margin-left: 10px;
  }

  .invalid {
      color:#ea6153 !important;
  }

  #wrap1 {
    ion-label {
      font-size: 20px;
      font-weight: bold;
      color: #686868;
    }

    
    padding-top: 15px;
    position: relative;
  }

  #map {
      margin-bottom: 10px;
      margin-top: 10px;
      height: 200px;
  }

  #cross{
    position:absolute;
    /*url of the marker*/
    background:url(http://maps.gstatic.com/mapfiles/markers2/marker.png) no-repeat;
    /*center the marker*/
    top:50%;left:50%;
  
    z-index:1;
    /*fix offset when needed*/
    margin-left:-10px;
    margin-top:-34px;
    /*size of the image*/
    height:34px;
    width:20px;
  
    cursor:pointer;
  }

  /* Images css */
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .image-container {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      position: relative;

      margin: 8px;
      width: 40%;

      border: 4px dashed $primary-0;
      border-radius: 8px;

      .close-button {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 1;
        top: -2px;
        left: -2px;
        padding: 8px;
        background-color: $primary-0;
        border-radius: 4px;
        height: 25px;
        width: 25px;

        color: white;
      }

      &:before {
        content: '';
        display: block;
        padding-top: 100%;
      }

      &:first-child {
        width: 40%;
      }

      .image-container-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: $section-bg-color;

        ion-icon {
          font-size: 1.7em;
        }
        span, label {
          font-size: 1em;
          margin-top: 10px;
        }

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
