<!--
  Generated template for the GroceryStoreModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title *ngIf="editModal">Edit Grocery Store</ion-title>
    <ion-title *ngIf="addModal">Add Grocery Store</ion-title>
    <ion-title *ngIf="displayModal">{{store.name}}</ion-title>

    <ion-buttons *ngIf="isAdmin && store.isAppStore" end>
      <button ion-button (click)='openEditPage()' *ngIf='displayModal'>Edit</button>
      <button ion-button (click)='delete()' *ngIf='editModal'>Delete</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <div class="content-grocery-store-modal">
    <form [formGroup]="storeForm" (ngSubmit)='addGroceryStore()' *ngIf="addModal || editModal">
      <div class='section'>
        <ion-item no-padding>
          <ion-label stacked [class.invalid]="!storeForm.controls.name.valid && (storeForm.controls.name.dirty || submitAttempt)">Name</ion-label>
          <ion-input type="text" formControlName="name" [(ngModel)]="store.name" name="name"></ion-input>
        </ion-item>

        <ion-label margin-left class='invalid' margin-left *ngIf="!storeForm.controls.name.valid  && (storeForm.controls.name.dirty || submitAttempt)">
          Enter a valid name.
        </ion-label>

        <ion-item no-padding>
          <ion-label stacked [class.invalid]="!storeForm.controls.name.valid && (storeForm.controls.name.dirty || submitAttempt)">Description</ion-label>
          <ion-textarea [(ngModel)]="store.description" formControlName="description" name="description"></ion-textarea>
        </ion-item>

        <ion-label margin-left class='invalid' *ngIf="!storeForm.controls.description.valid  && (storeForm.controls.description.dirty || submitAttempt)">
          Enter a valid description.
        </ion-label>
      </div>

      <div id="wrap1" class='section'>
        <div style="position: relative;">
          <div #map id="map"></div>
          <div id="cross"></div>
        </div>

        <ion-item no-padding>
          <ion-label stacked [class.invalid]="!storeForm.controls.latitude.valid && (storeForm.controls.latitude.dirty || submitAttempt)">Latitude</ion-label>
          <ion-input [(ngModel)]="store.coordinates.latitude" formControlName="latitude" name="latitude"></ion-input>
        </ion-item>

        <ion-item no-padding>
          <ion-label stacked [class.invalid]="!storeForm.controls.longitude.valid && (storeForm.controls.longitude.dirty || submitAttempt)">longitude</ion-label>
          <ion-input [(ngModel)]="store.coordinates.longitude" formControlName="longitude" name="longitude"></ion-input>
        </ion-item>

        <ion-label margin-left class='invalid' *ngIf="((!storeForm.controls.latitude.valid  && (storeForm.controls.latitude.dirty || submitAttempt)) || (!storeForm.controls.longitude.valid  && (storeForm.controls.longitude.dirty || submitAttempt)))">
          Enter valid coordinates.
        </ion-label>

        <ion-buttons margin-top>
          <button ion-button type="button" block (click)="addMarker()">Select location</button>
        </ion-buttons>
      </div>

      <div class="section">

        <div class="container" [dragula]='"first-bag"' [dragulaModel]="storeImages">
          <div class="image-container" *ngFor="let storeImage of storeImages;let idx = index" id="{{ storeImage }}">
            <div class="close-button" (click)="removeImage(storeImage)">
              <ion-icon name="md-close"></ion-icon>
            </div>
            <div class="image-container-inner">
              <img [src]="storeImage" alt="User Image {{ idx }}">
            </div>
          </div>

          <div class="image-container" *ngIf="!storeImages || storeImages.length < 5">
            <div class="image-container-inner" (click)="addPhoto()">
              <ion-icon name="md-camera"></ion-icon>
              <input type="file" id="fileElem" accept="image/*" style="display:none" (change)="uploadImageFromWeb($event.target.files)">
              <span>Add Photo</span>
            </div>
          </div>
        </div>

        <ion-buttons margin-top>
          <button ion-button color="secondary" type="submit" *ngIf="addModal" block>Add Store</button>
          <button ion-button color="secondary" type="submit" *ngIf="editModal" block>Update Store</button>
        </ion-buttons>
      </div>
    </form>
  </div>

  <div id="details" *ngIf="displayModal">
    <div class="images-container">
      <ion-slides [centeredSlides]="centeredSlides" class="image-slider-container" pager>
        <ion-slide *ngFor="let image of store.images">
          <img [src]="image || defaultUserImagePlaceholder">
        </ion-slide>
      </ion-slides>
    </div>

    <div class="details-container section">
      <ion-label>{{store.name}}</ion-label>
      <p>{{store.description}}</p>
    </div>

    <div id="wrap1" class="section">
      <ion-label>Location</ion-label>
      <div #map id="map"></div>
    </div>

  </div>
</ion-content>
