<!--
  Generated template for the EventsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Nearby Events</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <loading *ngIf="isFetching"></loading>
  <div class="event-list-container" *ngFor="let event of events" (click)="openEventDetail(event)">
    <div class="event-image">
      <img [defaultImage]="defaultEventImagePlaceholder" [lazyLoad]="event.pic_cover.source">
    </div>
    <div class="event-details">
      <span class="name">
        {{ event.name }}
      </span>
      <span class="date">
        {{ event.start_time | date: 'EEE MMM dd hh:mm a' }} to {{ event.end_time | date: 'hh:mm a' }}
      </span>
      <span class="location">
        {{ event.location }}
      </span>
      <span class="createdBy">
        By: {{ event.creator }}
      </span>
    </div>
  </div>
</ion-content>